.card-title-height {
  height: 48px;
}

.card-product-title {
  font-size: 1.1rem;
}

.card-description-height {
  margin-bottom: 1rem;
}

.card-description-height p {
  font-size: .95rem;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

.card-shadow .imagen {
  /* opacity: 0.6; */
  transform: scale(1);
  transition: all 0.5s
}

.card-shadow:hover .imagen {
  opacity: 1;
  transform: scale(.97) rotate(1deg)
}	

