$primary: #8fca00;
$secondary: #ff324d;



@import '../node_modules/bootstrap/scss/bootstrap.scss';

// Create your own map
$custom-colors: (
  "grey": #efefef
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


:root {
  --green-main: #8fca00;
  --red-action: #ff324d;
}

body {
  color: #666
}

/* Helpers */
.cursor-pointer {
  cursor:pointer;
}

/* Text */
.fs-sm-1 {
  font-size: 0.8rem;
}

.fv-small-caps {
  font-variant: small-caps;
}

/* Colors */
.text-main {
  color: #8fca00;
}

.bg-main {
  background-color: #8fca00;
}
.bg-red {
  background-color: var(--red-action);
}
